# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
addon/rootfs/usr/src/app/.env
addon/rootfs/usr/src/app/.venv

# Home Assistant add-on data store
addon/rootfs/usr/src/app/data

# Editor directories and files
.codacy
.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
/exampleui/
/qodana.yaml


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
/tools/simulator/hru-simulator
