* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: var(--mantine-color-text);
  background-color: var(--mantine-color-body);
}

body {
  min-height: 100vh;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
}

#root {
  min-height: 100vh;
}

.mantine-Notification-root::before {
  display: none !important;
  content: none !important;
  width: 0 !important;
}

.mantine-Notification-root {
  transition:
    transform 0.2s ease,
    opacity 0.2s ease !important;
}
